@import "vars";
@import "fonts";
@import "reset";
@import "global";
.header {
  padding: 40px 0;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__item {
    text-transform: uppercase;
  }
  &__item + .menu__item {
    padding-left: 35px;
  }
  &__list {
    display: flex;
  }
  &__link {
    color: $titleColor;
    padding-bottom: 1px;
    @extend %quicksand-400;
    transition: border-bottom 0.9s;
    &:hover {
      color: $accentColor;
      border-bottom: 1px solid $accentColor;
      @extend %quicksand-500;
    }
  }
  &__link--active {
    color: $accentColor;
    border-bottom: 1px solid $accentColor;
    @extend %quicksand-500;
  }
}
.user-nav__list {
  display: flex;
}
.user-nav__item + .user-nav__item {
  padding-left: 35px;
}

.user-nav__link {
  width: 20px;
  height: 20px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
}
.user-nav__num {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $accentColor;
  color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  position: absolute;
  top: -9px;
  right: -14px;
}

.user-nav__link--user {
  background-image: url("../images/icons/user.svg");
}
.user-nav__link--search {
  background-image: url("../images/icons/search.svg");
}
.user-nav__link--like {
  background-image: url("../images/icons/like_icon.svg");
}
.user-nav__link--cart {
  background-image: url("../images/icons/cart_icon.svg");
}

footer {
  background-color: $bg;
}

.adress {
  width: 250px;
  max-width: 100%;
  margin-right: 50px;
  &__footer-logo {
    display: inline-block;
    margin-bottom: 33px;
  }
  &__item {
    display: inline-block;
    margin-bottom: 14px;
  }
}

.footer-top__wrapper:not(:last-child) {
  margin-right: 30px;
}

.footer-top {
  padding: 70px 0 40px;
  border-bottom: 1px solid #ececec;
  display: flex;
  &__wrapper {
    width: 170px;
  }
  &__text {
    margin-bottom: 25px;
  }
  &__wrapper-form {
    width: 470px;
  }
  &__social {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }
  &__social-icons + .footer-top__social-icons {
    padding-left: 18px;
  }
  &__social-link {
    transition: 0.3s;
    path {
      fill: $defaultColor;
    }
    &:hover {
      path {
        fill: $accentColor;
      }
    }
  }
  &__title {
    margin-bottom: 40px;
    font-size: 22px;
    @extend %roboto-500;
    color: $titleColor;
  }
  &__link {
    display: inline-block;
    margin-bottom: 14px;
  }
  &__form-input {
    background-color: #fff;
    box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);
    max-width: 320px;
    width: 100%;
    padding: 12px 10px 12px 15px;
    &::placeholder {
      color: $defaultColor;
    }
  }
  &__form-button {
    text-transform: uppercase;
    background-color: $accentColor;
    color: #fff;
    box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
    padding: 12px 25px;
  }
}

.footer-botom {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  &__accept-list {
    display: flex;
    align-items: center;
  }
  &__accept-item {
    margin-left: 25px;
  }
}

@import "_media";
