@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";
.header {
  padding: 40px 0;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__item {
    text-transform: uppercase;
  }
  &__item + .menu__item {
    padding-left: 35px;
  }
  &__list {
    display: flex;
  }
  &__link {
    color: $titleColor;
    padding-bottom: 1px;
    @extend %roboto-400;
    transition: border-bottom 0.9s;
    &:hover {
      color: $accentColor;
      border-bottom: 1px solid $accentColor;
      @extend %roboto-700;
    }
  }
  &__link--active {
    color: $accentColor;
    border-bottom: 1px solid $accentColor;
    @extend %quicksand-500;
  }
}
.user-nav__list {
  display: flex;
}
.user-nav__item + .user-nav__item {
  padding-left: 35px;
}

.user-nav__link {
  width: 20px;
  height: 20px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
}
.user-nav__num {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $accentColor;
  color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  position: absolute;
  top: -9px;
  right: -14px;
}

.user-nav__link--user {
  background-image: url("../images/icons/user.svg");
}
.user-nav__link--search {
  background-image: url("../images/icons/search.svg");
}
.user-nav__link--like {
  background-image: url("../images/icons/like_icon.svg");
}
.user-nav__link--cart {
  background-image: url("../images/icons/cart_icon.svg");
}

.top-slider {
  background-color: $bg;
  padding: 65px 0 45px;
  background-image: url("../images/dist/decor/abstract\ shape-bg.webp");
  background-repeat: no-repeat;
  background-size: contain;
  &__container {
    max-width: 1560px;
  }
  &__item {
    display: flex !important;
    justify-content: space-between;
  }
  &__content {
    padding-top: 125px;
    padding-left: 175px;
  }
  &__title {
    max-width: 670px;
    width: 100%;
    font-size: 58px;
    line-height: 68px;
    color: $titleColor;
    @extend %roboto-700;
    margin-bottom: 35px;
  }
  &__text {
    margin-bottom: 55px;
    max-width: 470px;
  }
  &__link {
    @extend %btn;
    padding: 18px 35px;
  }
}
.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: -70px;
  li {
    padding: 0 5px;
    line-height: 0;
    button {
      font-size: 0;
      width: 26px;
      height: 26px;
      border: 1px solid transparent;
      border-radius: 50%;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $defaultColor;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &.slick-active {
      button {
        border-color: $accentColor;
        &::before {
          background-color: $accentColor;
        }
      }
    }
  }
}

.categories-info {
  padding: 120px 0;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &::before {
    background-image: url(../images/dist/decor/shape-left.svg);
    width: 253px;
    height: 670px;
    top: 345px;
    left: -38px;
  }

  &::after {
    background-image: url(../images/dist/decor/shape-right.svg);
    width: 248px;
    height: 660px;
    bottom: 275px;
    right: -38px;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
  }

  &::before {
    background-image: url(../images/dist/decor/info-before-bg.svg);
    width: 120px;
    height: 121px;
    top: -45px;
    left: -40px;
  }

  &::after {
    background-image: url(../images/dist/decor/info-after-bg.svg);
    width: 65px;
    height: 52px;
    bottom: -23px;
    right: -23px;
  }

  &__item {
    max-width: 370px;
    width: 100%;
    padding: 60px 40px;
    background-color: #fff;
    box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
  }

  &__item-title {
    @extend %roboto-400;
    margin: 40px 0 20px;
    color: $titleColor;
    font-size: 22px;
  }
}

.info__item-icons {
  background-repeat: no-repeat;
  background-size: cover;
  width: 60px;
  height: 60px;
  display: block;
}
.info__item-icons--icon-car {
  background-image: url("../images/icons/icon-car.svg");
}
.info__item-icons--icon-days {
  background-image: url("../images/icons/icon-days.svg");
}
.info__item-icons--icon-support {
  background-image: url("../images/icons/icon-support.svg");
}

.categories {
  &__items {
    min-height: 635px;
    display: grid;
    grid-template-columns: repeat(3, [col] 1fr);
    grid-template-rows: repeat(2, [row] 1fr);
    grid-gap: 30px;
  }
  &__item {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    padding: 35px 0 0 40px;
    &:nth-child(1) {
      grid-row: span 2;
      .categories__item-subtitle,
      .categories__link:hover {
        color: #5800e4;
        border-color: #5800e4;
      }
    }
    &:nth-child(2) {
      grid-column: span 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 0;
      .categories__item-subtitle,
      .categories__link:hover {
        color: $accentColor;
        border-color: $accentColor;
      }
    }
    &:nth-child(3) {
      .categories__item-subtitle,
      .categories__link:hover {
        color: #ffb534;
        border-color: #ffb534;
      }
    }
    &:nth-child(4) {
      .categories__item-subtitle,
      .categories__link:hover {
        color: #34c3ff;
        border-color: #34c3ff;
      }
    }
  }
  &__item-subtitle {
    margin-bottom: 5px;
  }
  &__item-title {
    font-size: 22px;
    color: $titleColor;
    margin-bottom: 16px;
    @extend %roboto-500;
  }
  &__link {
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    color: $titleColor;
    @extend %roboto-400;
    display: inline-block;
    transition: all 0.3s ease-in-out;
  }
}

.video-fashion,
.video-fashion__pupap,
.video-fashion__play {
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.video-fashion {
  background-image: url(../images/dist/decor/pattern-bg.svg);
  padding: 125px 0;
  &__inner {
    display: flex;
  }
  &__pupap {
    background-image: url(../images/dist/video-fashion.webp);
    margin-right: 65px;
    max-width: 535px;
    width: 100%;
    height: 480px;
    position: relative;
  }
  &__play {
    background-image: url(../images/dist/icons/play-btn.svg);
    width: 130px;
    height: 130px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__content {
    max-width: 570px;
    width: 100%;
  }
  // &__subtitle {
  //   color: $accentColor;
  //   @extend %quicksand-500;
  // }
}

footer {
  background-color: $bg;
}

.adress {
  width: 250px;
  max-width: 100%;
  margin-right: 50px;
  &__footer-logo {
    display: inline-block;
    margin-bottom: 33px;
  }
  &__item {
    display: inline-block;
    margin-bottom: 14px;
  }
}

.footer-top__wrapper:not(:last-child) {
  margin-right: 30px;
}

.footer-top {
  padding: 70px 0 40px;
  border-bottom: 1px solid #ececec;
  display: flex;
  &__wrapper {
    width: 170px;
  }
  &__text {
    margin-bottom: 25px;
  }
  &__wrapper-form {
    width: 470px;
  }
  &__social {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }
  &__social-icons + .footer-top__social-icons {
    padding-left: 18px;
  }
  &__social-link {
    transition: 0.3s;
    path {
      fill: $defaultColor;
    }
    &:hover {
      path {
        fill: $accentColor;
      }
    }
  }
  &__title {
    margin-bottom: 40px;
    font-size: 22px;
    @extend %roboto-500;
    color: $titleColor;
  }
  &__link {
    display: inline-block;
    margin-bottom: 14px;
  }
  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__form-input {
    background-color: #fff;
    box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);
    max-width: 320px;
    width: 100%;
    padding: 19px 10px 17px;
    &::placeholder {
      color: $defaultColor;
    }
  }
  &__form-button {
    @extend %btn;
  }
}

.footer-botom {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  &__accept-list {
    display: flex;
    align-items: center;
  }
  &__accept-item {
    margin-left: 25px;
  }
}

@import "_media";
